    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="__MODULE__/Adminme/index">管理员管理</a>
          <dl class="layui-nav-child">
            <dd><a href="__MODULE__/Adminme/add">添加管理员</a></dd>
          </dl>
        </li>
        
        <li class="layui-nav-item">
          <a href="javascript:;">导航管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">添加导航</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;">文章管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">添加文章</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item"><a href="">素材管理</a></li>
        <li class="layui-nav-item"><a href="">今日新注册</a></li>
        <li class="layui-nav-item"><a href="">留言管理</a></li>
        <li class="layui-nav-item"><a href="">用户管理</a></li>
        <li class="layui-nav-item"><a href="">信息通知</a></li>
        <li class="layui-nav-item"><a href="">评论管理</a></li>
      </ul>
    </div>