	<!-- 底部信息 -->
	<div id="qxw_footer">
		<div class="qxw_footer_c">
			<div class="qxw_footer_c1">
				<ul>
					<li><a href="/special_article.html">联系我们</a></li>
					<li><a href="/special_article.html">关于我们</a></li>
					<li><a href="copyRight.html">版权声明</a></li>
					<li><a href="/special_article.html">招纳贤士</a></li>
					<li><a href="/special_article.html">酷站欣赏</a></li>
					<li><a href="/special_article.html">帮助中心</a></li>
				</ul>
			</div>

			<div class="qxw_footer_c5">
				<ul>
					<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=913885017&site=qq&menu=yes"><img border="0" src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/9cU6JrR2Al5MTFIH*62KV3b0bV.38X4iflrGBIC5TaI!/b/dD8BAAAAAAAA&bo=XAAWAAAAAAADB2g!&rf=viewer_4" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
					<li>qq群：823167796</li>
					<li>913885017@qq.com</li>
					<li>手机：13545774974</li>
				</ul>
			</div>
			<div class="qxw_footer_c2">52齐学网专业提供网站模板，网页模板，教程培训，程序插件，网站素材等建站资源。我们致力于打造一个优秀的IT资源共享学习平台！</div>
			
			<div class="qxw_footer_c3">Copyright @ 2010-2018 52齐学网 版权所有 鄂ICP备17012302号</div>
			
			<div class="qxw_footer_c4">
				<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","weixin","fbook","sqq","youdao"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			</div>
		</div>
	</div>
	<!-- 底部信息 -->