	<div id="qxw_top" class="fff">
		<div class="qxw_top_con">
			<a href="/" class="qxw_top_lt"></a>
			<div class="qxw_top_rt">
				<form>
					<input type="text" name="search" placeholder="请输入搜索内容" class="sear_input">
					<a href="#">搜索</a>
					<span class="glyphicon glyphicon-search search_sp"></span>
				</form>
			</div>
		</div>
	</div>
	<div id="qxw_nav">
		<div class="qxw_nav_con">
			<ul>
				<li class="sel"><a href="/">首页</a></li>
				<li><a href="__MODULE__/Special/index">网页特效</a></li>
				<li><a href="#">HTML5+CSS3</a></li>
				<li><a href="/phpMysq.html">PHP+MYSQL</a></li>
				<li><a href="/mobile.html">移动开发</a></li>
				<li><a href="/move.html">视频教程</a></li>
				<li><a href="/template.html">整站模版</a></li>
				<li><a href="/assistant.html">开发助手</a></li>
				<li><a href="/contact.html">联系我们</a></li>
			</ul>
			<div class="qxw_nav_login"><span class="glyphicon glyphicon-user"></span><a href="#" class="cd-signin">注册/登录</a></div>
		</div>
	</div>