<!-- 消息框 -->
	<div class="personal_mess">
		<div class="personal_mess_c">
			<!-- 信息 -->
			<span class="glyphicon glyphicon-volume-up"></span>

			<ul class="personal_mess_ul">
				<li><a href="#">新上线素材：html5 svg层叠图标旋转菜单动画特效s+css3九宫格按钮布局点击弹出窗口动画特效</a></li>
				<li><a href="#">jQuery+bootstrap响应式卡片布局代码s+css3九宫格按钮布局点击弹出窗口动画特效</a></li>
				<li><a href="#">html5canvas酷炫生日快乐主题烟花动画背景特效s+css3九宫格按钮布局点击弹出窗口动画特效</a></li>
				<li><a href="#">js+css3九宫格按钮布局点击弹出窗口动画特效s+css3九宫格按钮布局点击弹出窗口动画特效</a></li>
			</ul>
		</div>
	</div>
<!-- 消息框 -->