<!DOCTYPE html>
<html>
<head>
	<title>我爱齐学网-版权声明</title>
	<meta charset="utf-8">
	<meta name="description" content="本站致力于促进个人成长,发挥所长,分享自身所学，帮助别人学习的过程,其实也是自己在学习的过程,希望大家一起努力,互相分享交流,技术越来越棒.">
	<meta name="keywords" content="学习,分享,交流,促进">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="f4f4">
	<!-- 导航 -->
<include file="Public/head" />



<include file="Public/dialo" />


	<div id="copy_c">
		<div class="copy_c1">
			<h3 class="copy_c1_tit">52齐学网版权声明</h3>
			<div class="copy_c1_con">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于52齐学网（52qxw.com）上的资源均来源于网络用户分享，故52齐学网不具备充分的监控能力来审查资源是否存在侵权等情节。52齐学网不拥有此类资源的版权，本站所有资源仅供学习与交流，不得用于任何商业用途的范围，用户应自觉遵守著作权法及其他相关法律的规定，不得侵犯本网站及权利人的合法权利， 给52齐学网和任何第三方造成损失的，侵权用户应负全部责任。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;52齐学网鼓励用户对网站上的作品进行全面监督，当版权拥有者提出侵权指控并出示充分的版权证明材料时，52齐学网会在第一时间对投诉举报进行核实，并及时清理侵权作品。52齐学网“原创作品”会在内容中标注，所发布展示的原创作品，版权归上传作者所有，52齐学网在满足前款条件下针对原创作品栏目采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任，包括不承担因侵权指控不成立而给原发布人带来损害的赔偿责任。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;52齐学网赋予每个账号在满足一定条件的情况下，通过网站正式程序下载资源的资格，但作为网站管理者，有权为保护账号安全，同时给予一定的下载限制，而不因此承担法律责任。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站会员所发评论言论仅代表网友自己，不代表本站观点，当用户的言论和行为侵犯了第三方的著作权或其他权利，责任在于用户本人，52齐学网不承担任何法律责任。在52齐学网发表言论的网友，我们认为用户已经知道并理解这一声明。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未经52齐学网许可，任何人不得盗链52齐学网下载资源；不得复制或仿造本站或者在非52齐学网所属服务器上建立镜像，52齐学网的标识、源代码、及所有页面的版式设计等，版权归52齐学网所有。未经授权，不得用于除52齐学网之外的任何站点。52齐学网认为，一切用户在进入52齐学网主页及各分页时已经仔细看过本协议以上条款并完全同意，敬请谅解！<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果版权拥有者发现自己作品被侵权，任何单位和个人向52齐学网投诉举报时，应提交姓名、电话、身份证明、权属证明、具体链接（URL）及侵权情况详细描述发往版权投诉举报通道，52齐学网在收到相关举报文件后，若情况属实，会在24小时内采取删除、屏蔽、断开链接等措施来移除相关涉嫌侵权的内容。<br></p>	
			</div>

			<div class="copy_c1_report">版权投诉举报通道</div>
			<div class="copy_c1_r">
				<div>QQ：913885017 (周一至周五 9:30—18:00)</div>
				<div>邮箱：913885017@qq.com</div>
				<div>在线反馈：<a href="#">点击此处留言反馈</a></div>
			</div>

		</div>
	</div>

<include file="Public/footer" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
</body>
</html>