<!DOCTYPE html>
<html>
<head>
	<title>我爱齐学网—齐学习与分享</title>
	<meta charset="utf-8">
	<meta name="description" content="本站致力于促进个人成长,发挥所长,分享自身所学，帮助别人学习的过程,其实也是自己在学习的过程,希望大家一起努力,互相分享交流,技术越来越棒.">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="keywords" content="学习,分享,交流,促进">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/swipter/swiper.min.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e91cb001f54b72d3f275adda49ad14b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body class="f4f4">
	<!-- 顶部 -->

	
	<!-- 导航 -->
<include file="Public/head" />



<include file="Public/dialo" />

	<!-- 轮播图 -->
	<div id="caousel">	
		<div class="cao_c">

			<div class="cao_lt">
				  <div class="swiper-container">
				    <div class="swiper-wrapper">
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/JCaItYtFZd8umuzHw2BP1Zg9rNdiYACvSssc1DHl15w!/b/dDEBAAAAAAAA&bo=kAEsAQAAAAACF48!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				     
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/TgqLY8r1KrVkMMocI3ksRzKOahM1rVZklZiVRz8n56M!/b/dDEBAAAAAAAA&bo=sAQsAgAAAAACZ9k!&rf=viewer_4"></a><a href="" class="swiper_title">抖动特效代码</a></div>

				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/H.xUn6eCQctsxLHJn9gyXP0v4TTJrpHBG5AXbIplVVA!/b/dCEBAAAAAAAA&bo=yADwAAAAAAACNys!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/Ik8tZMk837zrS5COjDEQSWSgU6MVp5EeXIv5IdSKLNI!/b/dDMBAAAAAAAA&bo=qQLCAQAAAAACZys!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/z9lRa4Vgaa.95pX6hKag.HNk1eLziGEDF4ZTOW5F0jQ!/b/dN8AAAAAAAAA&bo=9AH0AQAAAAACJwM!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/FDKKO.FUSrMNJ.jFNK*eAs*bMPJ0kQeiz5Qy5kz0zII!/b/dC8BAAAAAAAA&bo=cAO4AQAAAAACF*k!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/1uStQWXHYQ*BJm0ZhWmmsvbd6glAY9ug2NYH0Xod4Jw!/b/dIMAAAAAAAAA&bo=ZgJuAQAAAAACR2g!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/AYvjGObe3amFHmQx55vqzZ*.reSH.J7Q.bzsKcG3pCM!/b/dFUAAAAAAAAA&bo=CAV*AgAAAAACVwM!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/HKyX2rDJpvWj4EE0cfFKtQAW0HTlwbCqaZISOe1fYHA!/b/dDEBAAAAAAAA&bo=UQLyAQAAAAACR8M!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				      <div class="swiper-slide"><a href="#" class="caou_a"><img src="http://m.qpic.cn/psb?/V11onCqj1TJ1pE/VOpPH4zkTEqR8P0k0DwUojQ6GYoHEynrJvFmNVVyERA!/b/dDABAAAAAAAA&bo=HQO1AQAAAAACN7k!&rf=viewer_4"></a><a href="#" class="swiper_title">抖动特效代码</a></div>
				    </div>
				    <!-- Add Pagination -->
				    <div class="swiper-pagination"></div>
				    <!-- Add Arrows -->
				    <div class="swiper-button-next"></div>
				    <div class="swiper-button-prev"></div>
				  </div>
			</div>

			<div class="cao_rt">
				<div class="cao_rt1"></div>

				<div class="cao_rt_d">
					<div class="cao_rt_d1">网页特效</div>
					<ul class="cao_rt_d2 clearfix">
						<li><a href="/special_article.html">jquery特效</a></li>
						<li><a href="/special_article.html">导航菜单</a></li>
						<li><a href="/special_article.html">css3动画</a></li>
						<li><a href="/special_article.html">文字特效</a></li>
						<li><a href="/special_article.html">html5</a></li>
						<li><a href="/special_article.html">选项卡/滑动门</a></li>
						<li><a href="/special_article.html">手机特效</a></li>
						<li><a href="/special_article.html">回到顶部</a></li>
						<li><a href="/special_article.html">轮播图</a></li>
						<li><a href="/special_article.html">悬浮层/弹出层</a></li>
						<li><a href="/special_article.html">手风琴菜单</a></li>
						<li><a href="/special_article.html">文件树</a></li>
						<li><a href="/special_article.html">滚动加载</a></li>
						<li><a href="/special_article.html">抽奖</a></li>
						<li><a href="/special_article.html">投票</a></li>
						<li><a href="/special_article.html">其他特效</a></li>
					</ul>
					<div class="cao_rt_d3"></div>
				</div>

				<div class="cao_rt_d">
					<div class="cao_rt_d1">网站模版</div>
					<ul class="cao_rt_d2 clearfix">
						<li><a href="/special_article.html">企业模版</a></li>
						<li><a href="/special_article.html">行业模版</a></li>
						<li><a href="/special_article.html">商城模版</a></li>
						<li><a href="/special_article.html">后台模版</a></li>
						<li><a href="/special_article.html">响应式模版</a></li>
						<li><a href="/special_article.html">H5模版</a></li>
						<li><a href="/special_article.html">旅游酒店</a></li>
						<li><a href="/special_article.html">个人博客</a></li>
						<li><a href="/special_article.html">中文模版</a></li>
						<li><a href="/special_article.html">英文模版</a></li>
						<li><a href="/special_article.html">手机模版</a></li>
						<li><a href="/special_article.html">app模版</a></li>
						<li><a href="/special_article.html">小程序模版</a></li>
						<li><a href="/special_article.html">bootstrap模版</a></li>
						<li><a href="/special_article.html">rem手机适配模版</a></li>
						<li><a href="/special_article.html">其他模版</a></li>
					</ul>
				</div>

			</div>

		</div>
	</div>

	<!-- 最新代码展示 -->
	<div class="qxw_recent">
		<div class="qxw_recent_c">


			<div class="qxw_recent_c1">
				<span class="glyphicon glyphicon-eye-open"></span>
				<span>最近更新</span>
			</div>


			<div class="qxw_recent_c2">

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi1.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>


				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi2.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi3.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
		

			<div class="qxw_re_d">
				<div class="qxw_re_img">
					<img src="__PUBLIC__/images/xuexi2.jpg"/>
					<a href="#" class="glyphicon glyphicon-expand"></a>
				</div>
				<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
				<div class="qxw_re_mi">
					<a href="#">下载 <b class="b1">0次</b></a>
					<a href="#">浏览 <b class="b2">58次</b></a>
					<a href="#">上传者 <b class="b3">站长</b></a>
					<a href="#"><span class="glyphicon glyphicon-save"></span></a>
				</div>
			</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi3.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi4.jpg"/>

						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>


					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="qxw_recent_c3"><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a></div>
		</div>
	</div>
	<!-- 最新代码展示 -->

	<div class="clearfix"></div>
	<!-- 网页特效展示 -->
	<div class="qxw_recent">
		<div class="qxw_recent_c">


			<div class="qxw_recent_c1">
				<span class="glyphicon glyphicon-eye-open"></span>
				<span>网页特效</span>
			</div>


			<div class="qxw_recent_c2">

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>


				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi3.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
		

			<div class="qxw_re_d">
				<div class="qxw_re_img">
					<img src="__PUBLIC__/images/xuexi1.jpg"/>
					<a href="#" class="glyphicon glyphicon-expand"></a>
				</div>
				<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
				<div class="qxw_re_mi">
					<a href="#">下载 <b class="b1">0次</b></a>
					<a href="#">浏览 <b class="b2">58次</b></a>
					<a href="#">上传者 <b class="b3">站长</b></a>
					<a href="#"><span class="glyphicon glyphicon-save"></span></a>
				</div>
			</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi2.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi3.jpg"/>

						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>


					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi2.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="qxw_re_d">
					<div class="qxw_re_img">
						<img src="__PUBLIC__/images/xuexi4.jpg"/>
						<a href="#" class="glyphicon glyphicon-expand"></a>
					</div>
					<div class="qxw_re_tit">swiper.js手机触屏滑动列表项操作代码</div>
					<div class="qxw_re_mi">
						<a href="#">下载 <b class="b1">0次</b></a>
						<a href="#">浏览 <b class="b2">58次</b></a>
						<a href="#">上传者 <b class="b3">站长</b></a>
						<a href="#"><span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="qxw_recent_c3"><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a></div>
		</div>
	</div>

	<!-- 网页特效展示 -->
	<!-- 文章板块 -->
	<div id="qxw_art">
		<div class="qxw_art_c">

			<div class="qxw_recent_c1">
				<span class="glyphicon glyphicon-eye-open hove_art"></span>
				<span class="hove_art">开发交流</span>
				<span class="art_fo">在这里你可以学习和下载有关网站运营，网站建设，网站模板，网站素材等各方面建站知识和素材。</span>
			</div>

			<div class="qxw_art_c1">
				<div class="qxw_art_c2">
					<div class="qxw_art_c3">
						<div class="art_c3_d">
							<span class="art_c3_sp">-</span>
							<span class="art_c3_sp1">建站教程</span>
							<a href="#" class="art_c3_a"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;更多</a>
						</div>

						<div class="art_c3_d1">
							<ul class="art_c3_d3">
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
							</ul>
						</div>
					</div>

					<div class="qxw_art_c3">
						<div class="art_c3_d">
							<span class="art_c3_sp">-</span>
							<span class="art_c3_sp1">建站交流</span>
							<a href="#" class="art_c3_a"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;更多</a>
						</div>

						<div class="art_c3_d1">
							<ul class="art_c3_d3">
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
								<li><a href="/special_article.html">解决Discuz聚合标签自由增加的问题</a><span>2018-06-26</span></li>
							</ul>
						</div>
					</div>

					<div class="qxw_art_c6">
						<a href="/special_article.html" class="qxw_art_c5">
							<span><img src="__PUBLIC__/images/art.jpg" width="167" height="160"/></span>
							<span>手机上拉刷新下拉加载</span>
						</a>

						<a href="/special_article.html" class="qxw_art_c5">
							<span><img src="__PUBLIC__/images/art.jpg" width="167" height="160"/></span>
							<span>手机上拉刷新下拉加载</span>
						</a>

						<a href="/special_article.html" class="qxw_art_c5">
							<span><img src="__PUBLIC__/images/art.jpg" width="167" height="160"/></span>
							<span>手机上拉刷新下拉加载</span>
						</a>

						<a href="/special_article.html" class="qxw_art_c5">
							<span><img src="__PUBLIC__/images/art.jpg" width="167" height="160"/></span>
							<span>手机上拉刷新下拉加载</span>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 文章板块 -->
<include file="Public/footer" />


	<!-- 返回顶部 -->
	<div id="qxw_retTop">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</div>
	<!-- 返回顶部 -->

	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript">
			$('.qxw_recent_c2').masonry({
				  itemSelector:'.qxw_re_d',
				  columnWidth:4
			});
	</script>
	<script type="text/javascript" src="__PUBLIC__/swipter/swiper.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
	<script type="text/javascript">
      var swiper = new Swiper('.swiper-container', {
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        effect : 'flip',
        loop : true,
      autoplay: {
        delay: 4000,
        stopOnLastSlide:false,
        disableOnInteraction:false,
       }
      });
     	
	</script>
</body>
</html>