<!DOCTYPE html>
<html>
<head>
	<title>我爱齐学网-个人中心</title>
	<meta charset="utf-8">
	<meta name="description" content="本站致力于促进个人成长,发挥所长,分享自身所学，帮助别人学习的过程,其实也是自己在学习的过程,希望大家一起努力,互相分享交流,技术越来越棒.">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="keywords" content="学习,分享,交流,促进">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/swipter/swiper.min.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e91cb001f54b72d3f275adda49ad14b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body class="f4f4">
	<!-- 导航 -->
<include file="Public/head" />



<include file="Public/dialo" />


<include file="Public/scrollMess" />

<!-- 个人中心界面 -->
	<div class="per_panel">
		<div class="per_con clearfix">
			<!-- 左侧导航 -->
			<div class="per_con_lt">
				<div class="per_con_lt1">
					<div class="per_lt1_details clearfix">

						<div class="per_lt1_d1"><img src="__PUBLIC__/images/pers.png"></div>

						<div class="per_lt1_d2">
							
							<div class="per_lt1_d3">小齐</div>
							
							<div class="per_lt1_d4">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span>湖北省宜昌市</span>
							</div>
						</div>

					</div>
					<div class="per_lt1_details1">积分<span>(50)</span></div>
				</div>
				<div class="per_con_lt2">
					<ul class="per_lt2_ul">
						<li class="per_select_li"><span class="glyphicon glyphicon-list"></span>我的主页</li>
						<li><span class="glyphicon glyphicon-check"></span>我的签到</li>
						<li><span class="glyphicon glyphicon-cloud-download"></span>下载记录</li>
						<li><span class="glyphicon glyphicon-open"></span>我的上传</li>
						<li><span class="glyphicon glyphicon-record"></span>我的收藏</li>
						<li><span class="glyphicon glyphicon-hand-right"></span>我的设置</li>
						<li><span class="glyphicon glyphicon-folder-open"></span>网站留言</li>
					</ul>
				</div>
			</div>


			<!-- 右侧内容 -->
			<div class="per_con_rt">
				<a href="#" class="per_con_rt1"><span class="glyphicon glyphicon-send"></span>上传资源</a>
				<div class="per_con_rt2">今天未签到，立即去<a href="#">签到</a>。本月已签到<span>0</span>次,签到满七天送200学习积分</div>

				<div class="per_con_rt3">
					<div class="per_con_rt4 clearfix">
						<div class="per_con_rt6">素材浏览指数</div>
						<div class="per_con_rt7"><a href="#">更多</a></div>
					</div>


					<div class="per_con_rt5">发布好的资源可获取更多积分，快去<a href="#">发布</a>吧。</div>
				</div>
			</div>
		</div>
	</div>
<!-- 个人中心 -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
</body>
</html>